<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ThingsILikeDevEntities" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
         connectionString="metadata=res://*/TilEntities.csdl|res://*/TilEntities.ssdl|res://*/TilEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=49888572-60b0-4af6-8807-a3dd00491fe5.sqlserver.sequelizer.com;initial catalog=db4988857260b04af68807a3dd00491fe5;User ID=mnfarmkkuqqnejtc;Password=fuonS5EN77rZSPdbrUXmQhnNBVEJWpJVj8tiuDvHaEbSnHNgHMowFGv6hGT5y5YQ;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>