<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Things I like</title>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script type="text/javascript" src="/Scripts/Controllers.js"></script>
    <script type="text/javascript" src="/Scripts/Services.js"></script>
</head>
<body>
    <div ng-controller="HomeController">

        {{data.message}}

        <input type="text" ng-model="sometext" />
 
        Hello {{ sometext }}

    </div>
</body>
</html>
